<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Story Maker</title>
</head>
<body>
    <h1>STORY MAKER</h1>
    <p><i>"Just enter a starting point, I'll generate the rest for you."</i></p>
    <form method="POST">
        <input type="text" placeholder="keyword / statement" name="prime">
        <br />
        <input type="number" placeholder="number of words" name="size">
        <br />
        <button type="submit">generate</button>
    </form>
    <a href="{{ url_for('main.examples') }}">examples of generated stories</a>
</body>
</html>