<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    <title>Your Story</title>
</head>
<body>
    <div class="jumbotron text-center jumbotron-fluid">
        <div class="container">
            <h1>YOUR STORY</h1>
        </div>
    </div>
    <div class="container form-group">
        <textarea class="form-control mb-2 mr-sm-2" style="height: 400px">{{ result }}</textarea>
        <button type="submit" class="btn btn-primary">download as PDF</button>
    </div>
</body>
</html>