{% extends 'base.html' %}

{% block title %}Story Maker{% endblock %}

{% block body %}
    <div class="jumbotron text-center jumbotron-fluid">
        <div class="container">
            <h1>STORY MAKER</h1>
            <p class="lead"><i>"Just enter a starting point, I'll generate the rest for you."</i></p>
        </div>
    </div>
    <div class="container form-group">
        <form method="POST">
            <input type="text" placeholder="keyword / statement" name="prime" class="form-control mb-2 mr-sm-2">
            <input type="number" placeholder="number of words" name="size" class="form-control mb-2 mr-sm-2">
            <button type="submit" class="btn btn-primary mb-2 mr-sm-2">generate</button>
        </form>        
    </div>
    <div class="container text-left">
        <a href="{{ url_for('main.examples') }}">examples of generated stories</a>
    </div>
{% endblock %}